*{
    font-family: montserrat;
}
body{
    background: f1fbff;
}

.section-padding{
    padding: 100px 0;
}
.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-inner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-light .navbar-brand{
    color: #000;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: #000;
}
.navbar-light .navbar-link{
    color: #000;
}
.w-100{
    height: 100vh;
}


.services .card-body i{
    font-size: 50px;
}
.team .card-body i{
    font-size: 20px;
}
.portflio .card{
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.team .card{
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}

/* === responsive css === */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-caption {
        bottom: 370px;
    }
    .carousel-caption p {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }
    .carousel-caption {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        z-index: 1;
    }
    .carousel-caption h5 {
        font-size: 17px;
    }
    .carousel-caption p {
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
        z-index: 1; /* Assurez-vous que le texte reste au-dessus des boutons */
    }
    .carousel-caption a {
        padding: 10px 15px;
        z-index: 1;
    }
    .carousel-indicators {
        z-index: 1; /* Assurez-vous que les indicateurs restent au-dessus des boutons */
    }
}
/* formulaire client */
.form-group {
    font-family: Arial, sans-serif; /* Remplacez "Arial, sans-serif" par la police de votre choix */
    max-width: 300px; /* ajustez la largeur selon vos besoins */
    margin: 0 auto; /* centre le formulaire horizontalement */
}

/* Style spécifique pour les champs de formulaire */
.form-control {
    font-family: Arial, sans-serif; /* Remplacez "Arial, sans-serif" par la police de votre choix */
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none; /* enlève les bordures */
    border-bottom: 1px solid #ccc; /* ajoute uniquement une bordure inférieure */
    padding-bottom: 5px; /* réduit la longueur de la bordure inférieure */
    box-sizing: border-box; /* assure que la largeur inclut le padding */
}

/* Style pour le bouton */
.btn {
    font-family: Arial, sans-serif; /* Remplacez "Arial, sans-serif" par la police de votre choix */
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #f0c60a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* assure que le bouton occupe la largeur complète */
}

/* Style pour le bouton au survol */
.btn:hover {
    background-color: #0e0ae8;
}
.form-containeri {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3); /* Noir avec une opacité de 50% */
    backdrop-filter: blur(10px); /* Effet de flou */
    border-radius: 10px; /* Coins arrondis */
    padding: 20px; /* Espace à l'intérieur du conteneur */
    max-width: 500px; /* Ajustez la largeur selon vos besoins */
    margin: 50px auto 20px; /* Centrer le formulaire horizontalement */
  }

  .form-group {
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
  }

  body{
    background-color: rgb(171, 166, 166);
  }

  .formulaire h1{
    height: 20px;
    color: #000;
  }